body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}

/* common css */
.btn-primary{
    background-color: #4E47FF;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
}
.primary-text{
    color: #252432;
    font-size: 20px;
    font-weight: 300;
}

/* header css */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    /* margin: 0; */
    padding: 10px;
}
/* nav css */
nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}
.nav-title{
    color: #4E47FF;
    margin: 0;
    font-size: 34px;
    font-weight: 800;
}
/* header content css */
.header-content{
    text-align: center;
    width: 900px;
    margin: 150px auto;
}
.header-title{
    font-size: 60px;
    font-weight: 800;
}


/* main css */

/* action css */
.action{
    display: flex;
    width: 80%;
    margin: 150px auto;
}
.action-content{
    width: 500px;
}
.action-title{
    font-size: 42px;
    font-weight: 800;
}
.action img{
    border-radius: 50px;
    margin-left: 100px;
}

/* Users css */
.user{
    width: 80%;
    background-color: #E5E7FF;
    border-radius: 20px;
    margin: 150px auto;
    padding: 50px;
    text-align: center  ;
}
.user-title{
    color: #252432;
    font-size: 30px;
    font-weight: 800;
}
.user-content{
    display: flex;
    justify-content: space-evenly;
}
.user-content h1{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

/* Reviewe css */
.reviewe{
    width: 80%;
    margin: 150px auto;
}
.reviewe-title{
    color: #252432;
    font-size: 42px;
    font-weight: 800;
    text-align: center;
}
.reviewe-content{
    display: flex;
    gap: 20px;
}
.review-card{
    border: 3px solid #FAFCFF;
    padding: 24px;
    border-radius: 10px;
}
.review-card-title{
    color: #252432;
    font-size: 20px;
    font-weight: 700;
}
.review-card-text{
    color: #252432;
    font-size: 14px;
    font-weight: 300;
}
.review-profile{
    display: flex;
    gap: 20px;
}
.review-profile img{
    border-radius: 100%;
    margin: 20px;
    height: 100%;
}
.reviewer-name{
    /* margin: 0; */
    color: #252432;
    font-size: 14px;
    font-weight: 500;
}

/* focus css */
.focus{
    width: 80%;
    text-align: center;
    margin: auto;
}
.focus-title{
    color: #252432;
    font-size: 50px;
    font-weight: 800;
}
.focus-text{
    color: #252432;
    font-size: 14px;
    font-weight: 300;
}
.focus-img{
    margin-top:50px;
    /* border-radius: 50px; */
}
.focus-img img{
    border-radius: 50px;
}

/* footer css */

